# Entorno
.venv/
__pycache__/
*.pyc
*.pyo
.env

# Datos (pesados, no van al repo)
data/raw/
data/processed/
data/splits/

# Modelos intermedios
models/checkpoints/
models/saved_model/

# El .tflite final SÍ se versiona (o va a GitHub Releases)
# models/exports/ — no ignorar

# Jupyter checkpoints
.ipynb_checkpoints/
*.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# Conda
.conda/
envs/
conda-meta/
*.conda

.vscode/settings.json