mediapipe==0.10.14
opencv-python-headless
tensorflow==2.16.1

tensorflow-cpu
numpy==1.26.4
pandas
scikit-learn
matplotlib
seaborn
protobuf==4.25.3
jupyter
ipykernel

tqdm
pyyaml

pytest
python-dotenv
tflite-runtime


